body {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img1 {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 26px auto;
}

.data1 {
  font-size: 13px;
  color: #ffffff;
  font-family: Courier;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 26px auto;
}

.cat1 {
  width: 200px;
  height: 40px;
  display: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  margin-top: 26px auto;
  background: black;
  border-radius: 16px;
  margin-top: 60px;
}

.p1 {
  color: gray;
  font-size: 9px;
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}


.img2 {
  width: 400px;
  height: 400px;
  margin-top: 21px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: auto;
  max-width: 100%;
  margin: 21px auto;
}

.bt1 {
  width: 200px;
  height: 33px;
  border-radius: 7px;
  display: center;
  text-decoration: none;
  color: gray;
  justify-content: center;
  margin: 0 auto;
  background: black;
  margin-top: -90px;
  border-color: gray;
  margin-top: 26px auto;
}

.img3 {
  width: 400px;
  height: 400px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: auto;
  max-width: 100%;
  margin: 21px auto;
}

.bt2 {
  width: 200px;
  height: 33px;
  border-color: gray;
  border-radius: 7px;
  display: center;
  text-decoration: none;
  color: gray;
  justify-content: center;
  margin: 0 auto;
  background: black;
  margin-top: -90px;
  margin-top: 26px auto;
}

.cat2 {
  width: 200px;
  height: 40px;
  display: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 26px auto;
  background: black;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 60px;
  font-size: 12px;
}

.img4 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  max-width: 100%;
  margin: 21px auto;
}


.bt3 {
  width: 200px;
  height: 33px;
  border-color: gray;
  border-radius: 7px;
  display: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  color: gray;
  background: black;
  margin-top: -90px;
  margin-top: 26px auto;
}

.cat3 {
  width: 200px;
  height: 40px;
  display: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 26px auto;
  background: black;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 60px;
  font-size: 12px;
}

.img5 {
  width: 400px;
  height: 400px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: auto;
  max-width: 100%;
  margin-top: 21px auto;
}

.bt5 {
  width: 200px;
  height: 33px;
  border-color: gray;
  border-radius: 7px;
  display: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  color: gray;
  background: black;
  margin-top: -90px;
  margin-top: 26px auto;
}
